*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Bungee", sans-serif;
}

:root {
    --bg-primary: rgb(88, 81, 225);
    --bg-secondary: white;
    --txt-primary: white;
    --txt-secondary: black;
    --icons-bg-primary: red;
    --icons-bg-secondary: #777;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    border: 2px solid white;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    padding: 20px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.text-center {
    text-align: center;
}

.title {
    font-size: 2em;
}

.icons {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 50px;
    color: var(--icons-bg-primary);
}

.facebook {
    color: blue;
}

.tiktok {
    color: black;
}

.whatsapp {
    color: rgb(23, 237, 48);
    
}

.description {
    margin-top: 8px;
    font-size: .7em;
}

.btn {
    margin-top: 16px;
    padding: 8px;
    cursor: pointer;
    border: none;
    
}

.btn:hover {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    transform: rotate(2deg);
    transition: .3s ease-in-out;
}

@media screen and (max-width: 599px) {

    .card {
        width: 95%;
    }
}
